<% content_for :title, "Account Settings" %>
<div class="container">
  <h1 class="has-pt-24 has-text-centered title"> Settings</h1>
  <%= render 'settings/tabs', locals: {tab_name: "account"} %>

  <div class="is-centered-middle is-flex-column">
    <div class="box has-padding-36 has-mb-24">
      <h2 class="has-mb-48 is-size-2 is-size-5-mobile">Account Settings</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %>
          <div class="control">
            <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :torn_api_key %><i> (update it if you change it)</i>
          <div class="control">
            <%= f.text_field :torn_api_key, class: "input" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <div class="control">
            <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
          </div>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <div class="control">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <div class="control">
            <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
          </div>
        </div>

        <div class="actions">
          <div class="control">
            <%= f.submit "Update", class: "button is-primary" %>
          </div>
        </div>
      <% end %>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>