<!DOCTYPE html>
<html>
  <head lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <title>TornTrader | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trading App for high volume traders on Torn, with our handy chrome extension, trading is a breeze!">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@torntrader">
    <meta name="twitter:creator" content="@torntrader">
    <meta name="twitter:title" content="TornTrader | High Volume Torn Trading">
    <meta name="twitter:description" content="High volume trading solution for Torn">
    <meta name="twitter:image" content="<%= asset_url('logo_pink')%>">

    <meta property="og:title" content="TornTrader | High Volume Torn Trading" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="https://torntrader.com" />
    <meta property="og:image" content="<%= asset_url('logo_pink')%>" />
    
    <%= favicon_link_tag "logo_pink.svg" %>
    <% if params[:username] %>
      <% color = User.find_by(username: params[:username]).theme %>
      <%= stylesheet_link_tag "#{ color == "dark" ? 'dark' : 'application' }", media: 'all', 'data-turbolinks-track': 'reload' %>
    <% elsif user_signed_in? %>
      <% color = current_user.theme %>
      <%= stylesheet_link_tag "#{ color == "dark" ? 'dark' : 'application' }", media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="<%= "background: #{params[:color]} !important" if params[:color] %>">

    <div id="wrapper">
      <%= render "layouts/navbar" %>

      <%= flash_messages %>
      <%= yield %>    
    </div>
    <%= render "layouts/footer" %>
    <script>
      (document.querySelectorAll('.notification .delete') || []).forEach((del) => {
        var notification = del.parentNode;
        
        del.addEventListener('click', () => {
          notification.parentNode.removeChild(notification);
        });
      });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173151589-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173151589-1');
    </script>
  </body>
</html>
