<!DOCTYPE html>
<html>
  <head>
    <title>TornTrader - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag "favicon.svg" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-bg-lilac-10">

    <div id="wrapper">
      <%= render "layouts/navbar" %>

      <%= flash_messages %>
      <%= yield %>    
    </div>
    <%= render "layouts/footer" %>
    <script>
      (document.querySelectorAll('.notification .delete') || []).forEach((del) => {
        var notification = del.parentNode;
        
        del.addEventListener('click', () => {
          notification.parentNode.removeChild(notification);
        });
      });
    </script>
  </body>
</html>
